.cartItem {
    display: flex;
    justify-content: space-between;
}

.cartBuyBtnContainer {
    display: flex;
    justify-content: flex-end;
}

.cartBuyBtn {
    float: right;
}

.zeroProductContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 200px;
}

.announceBtnSection {
    height: 38px;
}

.cartBody {
    padding-bottom: 120px;
}